#pip install -r requirements.txt

# Para trabajar con hashes de archivos
#hashlib

# Para trabajar con bases de datos SQLite
#sqlite3

# Para enviar correos electrónicos
#smtplib
#email

# Para manejar JSON
#json

# Para registrar logs
#logging

# Para manipular fechas y horas
#datetime


cryptography
requests
